@use 'styles' as *;

.wrapper {
    background-color: #EB52BF;
    padding: min(5.56vw, 80px) 0;
    padding-left: min(13.06vw, 188px);
    font-size: min(1.39vw, 20px);
}
.container {
    width: min(80.72vw, 1162.37px);
    height: min(26vw, 374.4px);
    font-weight: $fw-bold;
    position: relative;
}
.first_paragraph_container,
.last_paragraph_container,
.stroke {
    position: absolute;
}

.first_paragraph_container,
.last_paragraph_container {
    text-align: justify;
    text-align-last: justify;
}
.first_paragraph_container {
    right: 0;
    width: 53vw;
}
.stroke { left: 0; }
.last_paragraph_container {
    right: 24.3vw;
    top: 9.5vw;
    width: 56vw;
}

@media (max-width: 595px) {
    .wrapper { font-size: 2vw; padding-left: 6vw; }
    .container { height: 55vw; }
    .first_paragraph_container { width: 51vw; }
    .last_paragraph_container {
        right: 10vw;
        top: 21vw;
        width: 56vw;
    }
}

@media (max-width: 425px) {
    .wrapper {
        font-size: 3vw;
        padding: 9.56vw, 0;
    }
    .container { height: 93vw; }
    .first_paragraph_container {
        width: 73vw;
        right: -6vw;
    }
    .last_paragraph_container {
        top: 32vw;
        right: 11vw;
        width: 73vw;
    }
}
