@use 'styles' as *;

.wrapper {
    background-color: #EB52BF;
    padding: min(5.56vw, 80px) 0;
    padding-left: min(13.06vw, 188px);
    font-size: min(1.39vw, 20px);
}
.container {
    width: min(80.72vw, 1162.37px);
    height: min(30vw, 432px);
    font-weight: $fw-bold;
    position: relative;
}
.first_paragraph_container,
.last_paragraph_container { position: absolute; }

.last_paragraph_container { text-align: left; }

.first_paragraph_container {
    right: 0;
    width: 62vw;
    text-align: justify;
    text-align-last: justify;
}

.last_paragraph_container {
    right: 24.3vw;
    top: 6vw;
    width: 57vw;
}

@media (max-width: 768px) {
    .wrapper { font-size: 2vw; }
    .container { height: 57vw; }
}

@media (max-width: 425px) {
    .wrapper { font-size: 3vw; }
    .container { height: 123vw; }
    .stroke { top: -3.5vw; }
    .last_paragraph_container {
        top: 19vw;
        width: 65vw;
        right: 19vw;
    }
}