@use 'styles' as *;

.container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    max-width: 1389px;
    height: min(59.44vw, 856px);
    margin: 0 auto;
    overflow: hidden;
}
.container *::-webkit-scrollbar {
    display: none;
}
.title {
    padding-top: min(9.1vw, 131px);
    margin-bottom: min(3.47vw, 50px);
    line-height: 1;
    font-size: min(9.72vw, 140px);
    font-weight: $fw-extrabold;
    letter-spacing: min(-0.69vw, 10px); 
    text-align: center;
}
.left {
    border-right: 1px solid black;
    padding-top: 46px;
    padding-right: 165px;
    padding-bottom: 67px;
    width: 38.13%;
}
.right {
    width: 60.14%;
}
.left_image {
    margin-bottom: 26px;
}
.left_subtitle {
    margin-bottom: 45px;
    font-size: 20px;
    color: #BABABA;
    font-weight: $fw-bold;
}
.left_title {
    font-size: 52px;
    font-weight: $fw-bold;
}
.animate {
    position: absolute;
    z-index: -1;
}