.container {
    height: min(3.47vw, 50px);
    width: min(3.47vw, 50px);
    border: min(0.35vw, 5px) solid rgb(102, 102, 102);
    border-left-color: rgb(29, 29, 29);
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    100% {
        rotate: 360deg;
    }
}