@use 'styles' as *;

.wrapper {
  background-color: #EB52BF;
  padding-bottom: min(18.82vw, 271px);
  position: relative;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.title_container {
  padding: min(5.07vw, 53px);
}
.title {
  font-size: min(9.72vw, 140px);
  text-align: center;
  font-weight: $fw-extrabold;
}
.news_wrapper {
  display: flex;
  flex-direction: column;
}
.news_item {
  display: flex;
  flex-direction: column;
  width: min(46vw, 662.4px);
  height: min(22.85vw, 329px);
  padding: min(5.21vw, 75px) min(2.22vw, 30px);
}
.news_item:not(:last-child) {
  border-right: min(0.07vw, 1px) solid black;
}
.news_title {
  font-size: min(2.22vw, 32px);
  font-weight: $fw-regular;
  margin-bottom: min(2.22vw, 32px);
}
.news_text {
  font-size: min(2.78vw, 40px);
  font-weight: $fw-bold;
  line-height: 1;
}
.news_item_side {
  display: flex;
  padding: 1% 0;
  justify-content: space-between;
  align-items: center;
  border-top: min(0.07vw, 1px) solid black;
  border-bottom: min(0.07vw, 1px) solid black;
}
.news_item_side .news_item {
  border-right: none;
}
.image_container:first-child {
  mask-image: url('../../../../public/images/news/mask-top.png');
}
.image_container:last-child {
  mask-image: url('../../../../public/images/news/mask-bottom.png');
}
.image_container {
  width: min(32.08vw, 462px);
  height: min(19.51vw, 281px);
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
.image_container:first-child:hover {
  background-image: url('../../../../public/images/cases/gallery-center-comix.png');
  background-size: 102%;
}
.image_container:nth-child(2):hover {
  background-image: url('../../../../public/images/cases/gallery-center-orbyland.png');
  background-size: 102%;
}
.image_container:first-child {
  margin-left: min(1.74vw, 25px);
}
.image_container:nth-child(2) {
  margin-right: min(13.61vw, 196px);
}

.news_line_container {
  display: flex;
  overflow-x: auto;
}
.news_line_container::-webkit-scrollbar {
  display: none;
}

.news_line {
  display: flex;
  flex-wrap: nowrap;
}

.button_container {
  position: absolute;
  left: min(30vw, 432px);
  bottom: min(6vw, 86.4px);
}