.video_container {
    width: 100vw;
    height: min(100vh, 1280px);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}
  
@media (max-width: 440px) {
  .video_container {
    height: 95vh;
  }
}
@media (max-width: 390px) {
  .video_container {
    height: 70vh;
  }
}
@media (max-width: 340px) {
  .video_container {
    height: 50vh;
  }
}

  