@use 'styles' as *;

.wrapper {
  background: linear-gradient(180deg, #16F1BB, #FAFC6F) no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: min(9.1vw, 131px);
  position: relative;
}

@media (max-width: 425px) {
  .wrapper {
    overflow-y: auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: min(25.28vw, 364px);
}
.title {
  position: relative;
  margin-bottom: min(3.47vw, 50px);
  line-height: 1;
  font-size: min(9.72vw, 140px);
  font-weight: $fw-extrabold;
  letter-spacing: min(-0.69vw, 10px); 
}

.subTitle {
  text-align: center;
  margin-bottom: min(2.15vw, 31px);
  font-size: min(2.08vw, 30px);
  font-weight: $fw-bold;
}

// TEXT 

.text:nth-child(1) {
  bottom: max(-35vw, -504px);
  left: min(14vw, 201.6px);
}
.text:nth-child(2) {
  top: min(21vw, 302.4px);
  right: min(5.5vw, 79.2px);
  text-align: right;
}

@media (max-width: 768px) {
  .text:nth-child(2) {
    top: 16vw;
    left: 66vw;
    width: 22.27vw;
  }
}
@media (max-width: 450px) {
  .text:nth-child(1) {
    font-size: 2.5vw;
    width: 34.69vw;
    bottom: -113vw;
    left: 34vw;
    -webkit-animation: opacity .5s forwards;
            animation: opacity .5s forwards;
  }
  .text:nth-child(2) {
    font-size: 2.5vw;
    width: 35.63vw;
    text-align: left;
    left: 2vw;
    top: 106vw;
    animation: opacity .5s forwards;
  }
}

// IMAGES

.images_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: min(0.56vw, 8px);
  width: min(97.29vw, 1401px);
  margin: 0 auto;
}
@media (max-width: 450px) {
  .images_container {
    flex-direction: column;
    align-content: center;
    align-items: normal;
    height: 132.19vw;
    gap: 1.56vw;
  }
  .images_container img {
    animation: opacity .5s forwards;
  }
}
@-webkit-keyframes opacity {
  0% {opacity: 0;} 100% {opacity: 1;}
}
@keyframes opacity {
  0% {opacity: 0;} 100% {opacity: 1;}
}
.image_container {
  height: min(16.13vw, 232.2px);
  width: min(11.67vw, 168px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}
.image_container:nth-child(-n+8) {
  align-items: flex-end;
  margin-bottom: min(0.76vw, 11px);
}

// IMAGE

  .text {
    position: absolute;
    width: min(34.03vw, 480px);
    font-size: min(1.39vw, 20px);
  }
  .image {
    width: min(11.67vw, 168px);
  }
  .image_container:first-child .image{
    height: min(9.86vw, 142px);
  }
  .image_container:nth-child(2) .image,
  .image_container:nth-child(9) .image {
    height: min(16.13vw, 232.2px);
  }
  .image_container:nth-child(3) .image {
    height: min(13.13vw, 189px);
  }
  .image_container:nth-child(4) .image,
  .image_container:nth-child(8) .image {
    height: min(7.01vw, 101px);
  }
  .image_container:nth-child(5) .image,
  .image_container:nth-child(10) .image {
    height: min(11.67vw, 168px);
  }
  .image_container:nth-child(6) .image, 
  .image_container:nth-child(16) .image {
    height: min(17.29vw, 249px);
  }
  .image_container:nth-child(7) .image,
  .image_container:nth-child(11) .image, 
  .image_container:nth-child(13) .image, 
  .image_container:nth-child(15) .image {
    height: min(8.19vw, 118px);
  }
  .image_container:nth-child(12) .image {
    height: min(13.85vw, 199.5px);
  }
  .image_container:nth-child(14) .image {
    height: min(17.72vw, 255.2px);
  }
.hidden {
  display: none;
}
.button {
  position: absolute;
  bottom: -9.75vw;
  right: 46vw;
}
@media (max-width: 425px) {
  .button {
    position: absolute;
    bottom: 11.25vw;
    right: 5vw;
  }
}
