.video_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}

